# Supabase Configuration
VITE_SUPABASE_URL=https://akwhboxsdxcxpetdaiem.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFrd2hib3hzZHhjeHBldGRhaWVtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4MzQzMjcsImV4cCI6MjA5NjQxMDMyN30.Xvq74l4mw1u5vE5E_QXy4nZ2Vh3JbaEGIS0Kl7CSoVA
